<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>Reset Password</title>
</head>

<body>
    <%- include('./partials/nav') %>

        <div class="container mt-4">
            <form action="/user/signin" method="post">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
                    <button type="submit" class="btn btn-primary">Send OTP</button>
                </div>
            </form>
        </div>
        <div class="container mt-4">
            <form action="/user/signin" method="post">
                <div class="mb-3">
                    <label for="otp" class="form-label">OTP</label>
                    <input type="number" class="form-control" id="otp" name="otp" aria-describedby="emailHelp">
                </div>
                <button type="submit" class="btn btn-primary">Verify</button>
            </form>
        </div>
        <div class="container mt-4">
            <form action="/user/reset-password" method="post">
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                    <button type="submit" class="btn btn-primary">Reset</button>
                </div>
            </form>
        </div>

        <%- include('./partials/scripts') %>
</body>

</html>